.nav {
	background-color: #585858;
	width: 140px;
	padding: 20px;
}

.item {
	color: rgb(211, 22, 22);
	text-decoration: none;
	padding-left: 5px;
	margin-top: 10px;
}

.item a {
	color: rgb(207, 207, 207);
	text-decoration: none;
	font-weight: 600;
}

.item a.active {
	color: rgb(255, 255, 255);
	font-size: 22px;
}