body {
  font-size: 20px;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  background-color: rgb(180, 235, 252);
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
}