.dialogs {
	display: flex;
	padding: 20px;
}

.dialogItems {
	width: 20%;
}

.dialogItems a {
	text-decoration: none;
	color: rgb(88, 88, 88);
}

.dialogItems .active a {
	color: #000;
}

.dialog {
	font-weight: 600;
	margin-bottom: 20px;
}

.messages {}

.message {}